<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="/css/base.css"></link>
    </head>
    <body class="hide" onload="baseInit(); ">
        <div class="header">
            <div class="header-container">
                <div class="web-title">Find Your Consultant</div>
                <ul class="menu">
                    <li id="intro-btn"><a href="/#intro">網站說明</a></li>
                    <li id="signin-btn">會員登入</li>
                    <li id="member-btn" class="hide">會員中心</li>
                    <!-- <div id="msg-note"></div> -->
                </ul>
            </div>
            <div id="member-center">
                <ul>
                    <li id="chat-btn">諮詢聊天室</li>
                    <li id="memberpage-btn">個人頁面</li>
                    <li id="signout-btn">登出系統</li>
                </ul>
            </div>
        </div>

        <div id="loading" class="hide">LOADING...</div>

        {% block body %}
        {% endblock body %}
        
        <div class="footer">
            COPYRIGHT © 2022 Find Your Consultant
        </div>

        <script src="/js/base.js"></script>
        <script src="/js/auth.js"></script>
    </body>
</html>