<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}"></link>
        <link rel="stylesheet" href="{{url_for('static', filename='css/field.css')}}"></link>
    </head>
    <body onload="fieldInit();" class="hidden">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="page-top">
                <div class="top-mark"></div>
                <div class="page-title"><span id="field-name"></span>領域</div>
            </div>

            <div class="field-container">
                <div class="profile-container"></div>
            </div>
        </div>

        <script src="{{url_for('static', filename='js/field.js')}}"></script>
        {% endblock body%}
    </body>
</html>