<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="/css/base.css"></link>
    </head>
    <body>
        <div class="header">
            <div class="header-container">
                <div class="web-title">Find Your Consultant</div>
                <ul class="menu">
                    <li>會員登入</li>
                    <li>網站介紹</li>
                </ul>
            </div>
        </div>

        {% block body %}
        {% endblock body %}
        
        <div class="footer">
            COPYRIGHT © 2022 Find Your Consultant
        </div>

    </body>
</html>