<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/field.css"></link>
    </head>
    <body onload="fieldInit();">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="page-top">
                <img src="/img/title-mark.png"/>
                <div class="page-title"><span id="field-name"></span>領域</div>
            </div>

            <div class="field-container">
                <div class="profile-container">
                    <!-- <div class="profile">
                        <div class="profile-basic">
                            <div class="img-container">
                                <img src="/img/profile.jpg"/>
                            </div>
                            <div> 
                                <div class="star"> <img src="/img/p-star.png"/> &nbsp;&nbsp; <span> 4.5</span></div>
                                <div>
                                    <span class="name">董小宛</span>
                                    &nbsp;&nbsp;<span class="job-title">律師</span>
                                    &nbsp;&nbsp;<span class="gender">女性</span>
                                </div>
                                <div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>公司法</span></div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>刑法</span></div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>民法</span></div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>稅務</span></div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>會計</span></div>
                                    <div class="pro-fields"><img src="/img/check.png" /><span>金融</span></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="profile-pro">
                            <div class="price">諮詢時薪： $ 1500 /時</div>
                            <div class="agency">服務機構： 啟程律師事務所</div>
                            <div class="case">處理案件數： 28 件</div>
                            <div class="feedback">
                                <div>案件回饋： </div>
                                <div class="feedback-container">
                                    <div class="feedback-content">你好棒！</div>
                                    <div class="feedback-more">more</div>
                                </div>
                            </div>
                        </div>
                        <button class="btn start">尋求諮詢</button>
                    </div> -->
                </div>
            </div>
        </div>

        <script src="/js/field.js"></script>
        {% endblock body%}
    </body>
</html>