<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/signup.css"></link>
        <link rel="stylesheet" href="/css/payment.css"></link>
        <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script> 
    </head>
    <body onload="paymentInit();">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="page-top">
                <img src="/img/title-mark.png"/>
                <div class="page-title">付款頁面</div>
            </div>
            <div class="signup-container">
                <form id="signup-form" method="POST">
                    <div class="signup-basic">
                        <div class="signup-title">
                            <img src="/img/title-mark.png"/>
                            <div>基本資訊</div>
                        </div>
                        <div>聯絡姓名： <input type="text" name="name" class="text-input"/></div>
                        <div>聯絡信箱： <input type="email" name="email" class="text-input"/></div>
                        <div>聯絡電話： <input type="text" name="phone" class="text-input"/></div>

                        <div class="signup-title">
                            <img src="/img/title-mark.png"/>
                            <div>信用卡付款資訊</div>
                        </div>
                        <div>信用卡號： <input type="text" name="name" class="text-input"/></div>
                        <div>有效月年： <input type="email" name="email" class="text-input"/></div>
                        <div>驗證三碼： <input type="text" name="phone" class="text-input"/></div>

                        <form class="block">
                            <div class="booking-title">信用卡付款資訊</div>
                            <div class="input-box">
                                <div class="text">卡片號碼： </div>
                                <div id="card-number" class="tpfield"></div>
                                <div id="number-msg" class="order-msg"></div>
                            </div>
                            <div class="input-box">
                                <div class="text">過期時間： </div>
                                <div id="card-expiration-date" class="tpfield"></div>
                                <div id="expiry-msg" class="order-msg"></div>
                            </div>
                            <div class="input-box">
                                <div class="text">驗證密碼： </div>
                                <div id="card-ccv" class="tpfield"></div>
                                <div id="ccv-msg" class="order-msg"></div>
                            </div>
                        </form>

                    </div>

                    <div class="btn-container">
                        <button type="submit" class="btn">註冊會員</button>
                    </div>
                    <div class="msg-container">
                        <div class="sign-msg"></div>
                    </div>
                </form>
            </div>
        </div>


        <script src="/js/chat.js"></script>
        <script src="/js/chat_functions.js"></script>
        <script src="/js/payment.js"></script>
        {% endblock body%}
    </body>
</html>