@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/* base */
*{box-sizing: border-box;}

html{height: 100%;}

body{
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #242C3E;
}

.content{
    width: 1200px;
    margin: 54px auto 90px auto;
    padding-bottom: 10px;
}

.btn{
    cursor: pointer;
    height: 40px;
    background: #EB8528;
    border-style: none;
    border-radius: 5px;
    font-size: 19px;
    text-align: center;
    padding: 0 20px;
    color: #FFFFFF;
}

.msg-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #CF4B49;
}

.hide{
    display: none;
}

/* page-top */
.page-top{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.page-top img{
    height: 70px;
    margin-top: 3px;
}

.page-title{
    line-height: 80px;
    font-size: 28px;
    font-weight: bold;
}

/* header */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    border-bottom: 1px solid #E8E8E8
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.web-title{
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.menu{
    display: flex;

}

li{
    cursor: pointer;
    list-style: none;
    flex: none;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

/* member-center */
#member-center{
    position: fixed;
    z-index: 2;
    width: 1200px;
    height: 0;
    overflow-y: hidden;
    top: 54px;
    left: 0;
    right: 0;
    margin: auto;
    transition: height 0.5s ease-in-out;
}

#member-center.slideshow{
    height: 100%;
}

#member-center ul{
    position: relative;
    float: right;
    width: 100px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

#member-center ul li{
    width: 100px;
    line-height: 40px;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    text-align: center;
}

#member-center ul li:hover{
    background-color: #E8E8E8;
}

#member-center ul li a{
    color: inherit;
    text-decoration: none;
}

/* msg window */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.25);
    animation: fadebackground 0.5s;
}

@keyframes fadebackground {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.window-msg{
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 7;
    width: 400px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    padding-bottom: 10px;
}


.slidein{
    animation: appear 0.5s forwards;
}

@keyframes appear {
    from {top: 0;}
}

/* MSG */
.msg-border{
    height: 10px;
    background: linear-gradient(270deg, #242C3E 0%, #7F9BCC 100%);
    border-radius: 6px 6px 0 0;
}

.msg-title{
    margin: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.msg-content{
    padding: 10px 15px;
    word-wrap: break-word;
    text-align: center;
}

.msg{
    line-height: 40px;
}

.msg-input{
    height: 47px;
    margin: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 15px;
}

.msg-btn-con{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 10px 0;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 17px;
    background: none;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
}

/* footer */
.footer{
    width: 100%;
    height: 104px;
    line-height: 104px;
    background: #F3F3F3;
    box-shadow: 0 100vh 0 100vh #F3F3F3;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #242C3E;
}