<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="/css/base.css"></link>
        <link rel="stylesheet" href="/css/signup.css"></link>
    </head>
    <body onload="authInit();">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="page-top">
                <div class="top-mark"></div>
                <div class="page-title hide">註冊會員 - 專業顧問</div>
                <div class="page-title hide">註冊會員 - 一般民眾</div>
            </div>
            <div class="signup-container">
                <form id="signup-form" method="POST" enctype="multipart/form-data">
                    <div class="signup-basic">
                        <div class="signup-title">
                            <div class="down-mark"></div>
                            <div>註冊資訊</div>
                        </div>
                        <div>註冊信箱： <input type="email" name="email" class="text-input"/></div>
                        <div>註冊密碼： <input type="password" name="password" class="text-input"/></div>

                        <div class="signup-title">
                            <div class="down-mark"></div>
                            <div>個人基本資料</div>
                        </div>
                        <div>照片： 
                            <label class="file-input">選擇檔案<input type="file" name="pic" accept="image/*"/></label>
                        </div>
                        <div id="name">姓名： <input type="text" name="name" class="text-input"/></div>
                        <div>性別： 
                            <label class="gender">
                                <input type="radio" name="gender" value="man" checked="checked"/><span class="gender-checkmark"></span>
                                男性
                            </label>
                            &nbsp;
                            <label class="gender">
                                <input type="radio" name="gender" value="woman"/><span class="gender-checkmark"></span>
                                女性
                            </label>
                        </div>
                        <div id="phone">電話： <input type="text" name="phone" class="text-input"/></div>
                    </div>

                    <div class="signup-pro hide">
                        <div class="signup-title">
                            <div class="down-mark"></div>
                            <div>專業相關資料</div>
                        </div>
                        <div>專業領域： 
                            <br/>
                            <br/>
                            <label class="field"><input type="checkbox" name="field" value="ta"/><span class="field-checkmark"></span>
                                稅務
                            </label>
                            &nbsp;
                            <label class="field"><input type="checkbox" name="field" value="ac"/><span class="field-checkmark"></span>
                                會計
                            </label>
                            &nbsp;
                            <label class="field"><input type="checkbox" name="field" value="fi"/><span class="field-checkmark"></span>
                                金融
                            </label>
                            &nbsp;
                            <label class="field"><input type="checkbox" name="field" value="co"/><span class="field-checkmark"></span>
                                公司法
                            </label>
                            &nbsp;
                            <label class="field"><input type="checkbox" name="field" value="cr"/><span class="field-checkmark"></span>
                                刑法
                            </label>
                            &nbsp;
                            <label class="field"><input type="checkbox" name="field" value="ci"/><span class="field-checkmark"></span>
                                民法
                            </label>
                            <br/>
                            <div> <br/> &nbsp; * 若有其他專精領域，可至<span id="to-intro">【 網站說明 】</span>申請</div>
                        </div>
                        <br/>
                        <br/>
                        <div>執業證書： 
                            <label class="file-input">選擇檔案<input type="file" name="certificate"/></label>
                        </div>
                        <div id="agency">服務機構： <input type="text" name="agency" class="text-input"/></div>
                        <div>職稱頭銜： <input type="text" name="job-title" class="text-input" placeholder="律師/會計師..." /></div>
                        <div>時薪報價： NT$ <input type="text" name="price" class="price-input" placeholder="請輸入百元倍數"/> /時</div>
                    </div>

                    <div class="btn-container">
                        <button type="submit" class="btn">註冊會員</button>
                    </div>
                    <div class="msg-container">
                        <div class="sign-msg"></div>
                    </div>
                </form>
            </div>
        </div>

        <script src="/js/auth.js"></script>
        {% endblock body%}
    </body>
</html>