<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="/css/base.css"></link>
        <link rel="stylesheet" href="/css/chat.css"></link>
    </head>
    <body onload="chatInit();" class="hidden">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="chat-background">
                <div class="chat-container">
                    <div class="chat-left">
                        <div class="left-title">
                            <input id="doing" type="radio" name="chat-list" value="doing" checked="checked"/>
                            <label for="doing">諮詢中 ( <span id="doing-amount"></span> ) </label>
                            <div> | </div>
                            <input id="finished" type="radio" name="chat-list" value="finished" />
                            <label for="finished">已結案 ( <span id="finished-amount"></span> ) </label>
                        </div>
                        <div class="left-list">
                            <!-- <div class="left-small">
                                <div class="left-notification"></div>
                                <div class="left-pic"><img src=""></div>
                                <div class="left-container">
                                    <div class="left-info">
                                        <div class="left-field">民法</div>
                                        <div class="left-name">王小明</div>
                                        <div class="left-job-title">律師</div>
                                    </div>
                                    <div class="left-tag-list">
                                        <div class="left-tag">離婚</div>
                                        <div class="left-tag">扶養權</div>
                                    </div>
                                    <div class="left-time">20:07</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="chat-right">
                        <div class="right-title">
                            <div><span id="right-name" class="right-info"></span>&emsp;<span id="right-job-title" class="right-info"></span></div>
                            <div><span id="right-field" class="right-info"></span><span id="right-case-id" class="right-info"></span></div>
                            <div id="status" class="right-info"></div>
                        </div>

                        <div class="right-chat-window"></div>

                        <div class="right-function"></div>

                        <div class="right-message">
                            <div class="right-input">
                                <textarea id="message" placeholder="請輸入訊息..." cols="40" rows="3"></textarea>
                            </div>
                            <div class="right-send">
                                <button class="btn">送出</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>

        <script src="/js/chat.js"></script>
        <script src="/js/chat_functions.js"></script>  
        {% endblock body%}
    </body>
</html>