<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/chat.css"></link>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body onload="chatInit();">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="chat-background">
                <div class="chat-container">
                    <div class="chat-left">
                        <div class="left-title">
                            <div id="doing-list">諮詢中 ( <span></span> ) </div>
                            <div> | </div>
                            <div id="finished-list">已結案 ( <span></span> ) </div>
                        </div>
                        <div class="left-list">
                            <!-- <div class="left-small">
                                <div class="left-pic"><img src=""></div>
                                <div class="left-container">
                                    <div class="left-info">
                                        <div class="left-field">民法</div>
                                        <div class="left-name">王小明</div>
                                        <div class="left-job-title">律師</div>
                                    </div>
                                    <div class="left-tag-list">
                                        <div class="left-tag">離婚</div>
                                        <div class="left-tag">扶養權</div>
                                    </div>
                                    <div class="left-time">20:07</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="chat-right">
                        <div class="right-title">
                            <div><span id="right-name"></span>&emsp;<span id="right-job-title"></span></div>
                            <div><span id="right-field"></span><span id="case-id"></span></div>
                            <div id="status"></div>
                        </div>

                        <div class="right-chat-window"></div>

                        <div class="right-function"></div>

                        <div class="right-message">
                            <div class="right-input">
                                <textarea id="message" placeholder="請輸入訊息..." cols="40" rows="3"></textarea>
                            </div>
                            <div class="right-send">
                                <button id="send-btn" class="btn">送出</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>

        <script src="/js/chat.js"></script>
        <script src="/js/chat_functions.js"></script>  
        {% endblock body%}
    </body>
</html>