<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Find Your Consultant</title>
        <link rel="stylesheet" href="/css/base.css"></link>
        <link rel="stylesheet" href="/css/feedback.css"></link>
    </head>
    <body onload="feedbackInit();">
        {% extends "base.html" %}
        
        {% block body %}
        <div class="content hide">
            <div class="page-top">
                <div class="top-mark"></div>
                <div class="page-title"><span id="case-id"></span> 結案回饋</div>
            </div>
            <div class="feedback-container">
                <form id="feedback-form" method="POST">
                    <div>
                        <div class="thanks">
                            <span id="member-name"></span> 您好，非常感謝您使用 Find Your Consultant 的諮詢服務，希望顧問的專業可以解決到您的問題！
                            <br/>
                            <br/>
                            為了能更好地提升平台服務品質，誠摯邀請您針對這次的使用體驗進行評價，留下您的寶貴回饋，感謝您！
                        </div>

                        <div class="block">
                            <div class="rating-title">諮詢顧問評分： </div>
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                        <div class="block">
                            <div>諮詢顧問回饋： </div>
                            <textarea name="consultant_feedback" placeholder="請輸入有關此次諮詢顧問相關回饋..." cols="45" rows="5"></textarea>
                        </div>
                        <div class="block">
                            <div>平台服務回饋： </div>
                            <textarea name="platform_feedback" placeholder="請輸入平台服務相關回饋..." cols="45" rows="5"></textarea>
                        </div>      
                    </div>

                    <div class="btn-container">
                        <button type="submit" class="btn">提交回饋</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="/js/chat_functions.js"></script>
        <script src="/js/feedback.js"></script>
        {% endblock body%}
    </body>
</html>