<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/signin.css"></link>
    </head>
    <body onload="baseInit(); authInit();">
        {% extends "base.html" %}
        
        {% block body %}

        <div class="content">
            <div class="page-top">
                <img src="/img/title-mark.png"/>
                <div class="page-title">會員登入</div>
            </div>
            
            <form id="signin-form" method="PATCH">
                <div class="membership">
                    <input id="member" type="radio" name="membership" value="member" checked="checked"/>
                    <label for="member">一般會員登入</label>

                    <img src="/img/checkbox-mark.png"/>

                    <input id="consultant" type="radio" name="membership" value="consultant"/>
                    <label for="consultant">專業顧問登入</label>
                </div>
                <div class="input-form">
                    <div>信箱： <input type="email" name="email" placeholder="請輸入電子信箱"/></div>
                    <div>密碼： <input type="password" name="password" placeholder="請輸入密碼"/></div>
                    <button class="btn" type="submit">登入會員</button>
                    <div class="msg-container">
                        <div class="sign-msg"></div>
                    </div>
                </div>
            </form>
        </div>

        <script src="/js/auth.js"></script>
        {% endblock body%}
    </body>
</html>