<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/signup.css"></link>
        {% extends "base.html" %}
    </head>
    <body>
        {% block body %}
        
        <div class="content">
            <div class="signup-container">
                <div class="page-top">
                    <img src="/img/"/>
                    <div class="page-title">註冊會員 - 專業顧問</div>
                </div>
                <form>
                    <div class="signup-basic">
                        <div class="signup-img-container">
                            <img src="/img" />
                        </div>
                        <div>信箱： <input type="email"/></div>
                        <div>密碼： <input type="password"/></div>

                        <div>姓名： <input type="text"/></div>
                        <div>性別： <input type="text"/></div> <!-- checkbox -->
                        <div>電話： <input type="number"/></div>
                    </div>

                    <div class="signup-pro">
                        <div>專業領域： <input type="text"/></div> <!-- checkbox -->
                        <div>執業證書： <input type="file"/></div>
                        <div>服務機構： <input type="text"/></div>
                        <div>職稱： <input type="text" placeholder="律師/會計師..."/></div>
                        <div>資歷： <input type="text"/></div> <!-- many inputs -->
                        <div>時薪報價： NT$ <input type="number"/> /時</div> <!-- *100 -->
                    </div>
                    <button class="btn">顧問註冊</button>
                </form>
            </div>
        </div>

        {% endblock body%}
    </body>
</html>